<div class="container">
  <h1>[Rails+Vue.js]~Bookshelf~</h1>
  <div class="row">
    <% @books.each do |book| %>
      <div>
        <span><%= book.title %></span>
      </div>
    <% end %>
  </div>
</div>
